# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBf1iyUCDe60gSsmkOs4MSN3Ecul3RRfK0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mahesh-enterprise-47a73.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mahesh-enterprise-47a73
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mahesh-enterprise-47a73.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=308475343019
NEXT_PUBLIC_FIREBASE_APP_ID=1:308475343019:web:9bd173597d3c65098c07ee

# Admin
NEXT_PUBLIC_ADMIN_EMAIL=admin@maheshenterprise.com

# App
NEXT_PUBLIC_SITE_URL=https://maheshenterprise.vercel.app
NEXT_PUBLIC_WHATSAPP_NUMBER=919773481051
